NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://hit:hit@localhost:5432/hit_incidents?schema=public"
DATABASE_URL_TEST="postgresql://hit:hit@localhost:5432/hit_incidents?schema=e2e_test"
JWT_SECRET="change-me-in-local-development"
JWT_EXPIRES_IN="1h"
LOG_LEVEL="debug"
LOG_FORMAT="pretty" ; pretty | json
GRAFANA_ADMIN_USER="admin"
GRAFANA_ADMIN_PASSWORD="admin"
